body{
  font-family: 'Oxygen';
  font-size: 16px;
  font-weight: 400;
}

/* header*/
header{
  background-color:#054263;
  padding: 16px 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#logo{
  margin: auto;
  margin-left: 300px;
}

nav{
  margin: auto;
  margin-right: 200px;
}

#highlight{
  color: #66A2BA;

}


nav a{
  font-weight: bold;
  color:#FFFFFF;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;

}



.allandabout{
  display: flex;
  color: #054263;
}

#firstpicture{
  margin: auto;
  margin-left: 217px;
  margin-top: 50px;
  padding: inherit;
}

/*FIRSTSECTION*/

.firstsection{
  display: inline-flex;
  flex-wrap: wrap;
}

h1{
  font-style: italic;
  color: #054263;
  font-weight: 700;
  font-size: 48px;
  padding-left: 381px;
padding-top: 100px;
}

p{
  font-size: 16px;
    font-weight: normal;
    font-family: 'Oxygen';
    padding: 50px 250px 30px 250px;
    text-align: justify;
    line-height: 1.5;
    margin: inherit
}


.theactualmotifs {
  justify-content: center;
  font-size: 48px;
  font-family: 'Oxygen';
  font-weight:400px;
  color:#054263;
  padding: 20px 0px 20px 0px;
  text-align: center;
}



#motifsinsides{
  padding-left: 1699px;
}
#motifsinleft{
  padding-right: 1699px;
  padding-bottom: 20px;
}


h2{
  justify-content: center;
  font-size: 56px;
  font-family: 'Oxygen';
  font-weight: 100;
  color:#054263;
  padding: 20px 0px 20px 0px;
  text-align: center;
}



h3{
  justify-content: center;
  font-size: 56px;
  font-family:'Oxygen';
  font-style: normal;
  font-weight:300;
  color:#054263;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.actual_motifs{
  display: block;
}


/*GOVERNMENT ICONS*/
