body{font-family: serif;
  font-size: 16px;
  font-weight: 400;
}


#mePic {
  height: 140px;
  margin-left: 100px;
  margin-top: 0px;
  display: flex;


}

header {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;


}


header div {
  height: 60px;
  width: 600px;
  color: white;
  display: inline-flex;
  flex-flow: row;
  margin-left: 675PX;
  background-color: #003780;
  justify-content: space-around;
  align-items: center;
  vertical-align: top;

}

nav a {
  text-decoration: none;
  color: white;
  transition: .2s;
  text-transform: uppercase;
font-size: 14px;
}

nav a:hover{
  color: #BCBEC0;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #414642;
  line-height:normal;
}

h1 {
  color: #003780;
  font-weight: 1000;
  font-size: 24px;
  margin-left: 100px;
  max-width: 300px;
  display: inline-block;

}

#grey {
color: #6d6e71;
font-weight: 800;
}

h2 {
  color: #004aad;
  font-weight: 800;
  margin-bottom: 24px;
  word-spacing: normal;

}

.Education {
margin-top: 160px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 0px 500px 0px 100px;
  }

#bio {
    font-size: 20px;
    font-family: sans-serif;
    color: #6d6e71;
    display: block;
    font-weight: 300;
    justify-content: center;
}

.bioSec {
  display: inline-flex;
  flex-flow: row;
  justify-content:
}

/* workex */

#light {
  font-weight: 300;
}
.secTwo {
  margin-top: 120px;
}

.MainWork {
  display: inline-block;
  margin-left: 100px;
}
.workExp {
  margin-bottom: 24px;
}



h3 {
  color: #414042;
  font-weight: 600;
  margin-bottom: 10px;

}

.Achievementparticipation{
  margin-top: 20px;
}

.para {
  color: #6d6e71;
  margin-bottom: 8px;
}

/* toolsandskills */

.skillsTools {
  display: inline-block;
  margin-left: 600px;
}

.skills {
  margin-bottom: 84px;
}

 /* misc */

.training {
  margin-top: 24px;
}
.lastSec {
  margin-left: 100px;
  margin-bottom: 24px;
}
